@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    transition: .5s ease;
    scroll-behavior: smooth;
}

.wrapper {
    padding-top: 72px;
    padding-bottom: 120px;
}

.wrapper .main-content {
    padding: 20px 0;
    width: 980px;
}

.wrapper .main-content .login-section .desc {
    width: 500px;
}

.wrapper .main-content .form-section {
    height: 456px;
    width: 396px;
}

.bottom-section .footer {
    padding-top: 20px;
}

.bottom-section .footer .bottom-desc {
    padding: 0 2rem;
}

@media only screen and (max-width: 1000px) {

    .wrapper .main-content {
        text-align: center;
        width: auto;
    }

    .wrapper .main-content .login-section .desc {
        width: 100%;
        padding: 0 2rem;
        text-align: center;
    }

    .wrapper .main-content .login-section {
        display: contents !important;
    }

    .wrapper .main-content .form-section {
        margin: 0 auto !important;
    }
}