@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important;
    font-family: "Montserrat", sans-serif;
}

body {
    background: var(--color-background);
}

html {
    scroll-behavior: smooth;
}

:root {
    --color-text: #ffffff;
    --color-background: #ecf0f1;
    --color-red: #dc2626;
    --color-gray: #2c3e50;
}

.wrapper {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-section {
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    background: var(--color-red);
}

/* Main Content Start Here */
.main-content {
    width: 100%;
    margin: 100px auto 0;
    padding: 0 20px 0 100px;
}

/* Main End Content */

/* Side Bar Section Start Here*/
.sidebar {
    z-index: 1;
    left: 0;
    top: 0;
    transition: 0.3s ease;
}

.sidebar-content::-webkit-scrollbar {
    display: none;
}

.sidebar-header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    padding: 13px 12px;
}

.sidebar-content {
    position: relative;
    height: -webkit-calc(120vh - 100px);
    overflow: auto;
    z-index: 4;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    line-height: 50px;
}

.sidebar .links_name {
    color: var(--color-text);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    font-size: 15px;
}

.sidebar.active .links_name,
.sidebar:hover .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.sidebar ul li a:hover {
    background: var(--color-red);
}

.sidebar ul li i {
    height: 50px;
    min-width: 75px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav_list {
    height: 100%;
}

.sidebar.active,
.sidebar:hover {
    width: 320px;
}

.user-details {
    display: none;
}

.sidebar.active .user-details,
.sidebar:hover .user-details {
    display: block;
}

.sidebar #btn-sidebar {
    opacity: 0;
    width: 50px;
    transform: translateY(0);
    transition: 0.4s ease;
}

.sidebar.active #btn-sidebar {
    opacity: 1;
    width: 50px;
    transform: translateY(5px);
}

.sidebar:hover #btn-sidebar {
    opacity: 1;
}

#btn-sidebar-mobile,
#btn-sidebar-close {
    display: none;
}

/* Side Bar End Section */

/* Authentication Section Start Here */
#login-container {
    background: var(--color-gray);
}

.login-section {
    padding: 15% 0;
}

.login-section h1 {
    font-size: 65px;
}

.login-section p {
    font-size: 20px;
    line-height: 1.4em;
    max-width: 800px;
}

.login-form-section {
    padding: 20px 10px;
    width: 100%;
    max-width: 430px;
}

.login-form-section .my-3 input {
    border-radius: 4px;
    width: 100%;
    padding: 20px;
}

.login-form-section .my-3.relative i {
    top: 14px;
    right: 15px;
}

.bottom-section {
    top: 90%;
}

.bottom-section p {
    font-size: 15px;
    padding: 5px 0;
}

#login-container .btn-submit,
.btn-resident {
    padding: 15px;
    font-size: 18px;
}

/* Authentication End Section */

/* Dashboard Section Start Here */
.widget {
    position: relative;
    overflow: hidden;
}

.widget-logo {
    position: relative;
}

.widget .widget-logo img {
    position: absolute;
    z-index: -1;
    opacity: 0.2;
}

.pie-chart-container {
    display: flex;
    justify-content: flex-start;
}

#Typhoon,
#Flooding {
    width: 500px;
}

/* Dashboard End Section */

/* Guideline Section Start Here */
.widget-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-row-gap: 30px;
    grid-column-gap: 40px;
}

.horizontal-line {
    margin-top: 20px;
}

.guideline-widget {
    position: relative;
    max-width: 300px;
}

/* Guideline End Section */

/* Guide Section Start Here*/
.guide-container .guide-content .label:before {
    content: "+";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5rem;
}

.guide-container .guide-content.active .label:before {
    content: "-";
}

.guide-container .guide-content.active .content {
    height: 150px;
    padding: 10px;
}

/* Guide End Section */

/* Report Accident Section Start Here*/
.evacuation-content>div {
    margin: 2rem;
}

.evacuation-content .evacuation-form form.secActive .form.evacuation {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}

/* Report Accident End Section */

/* About Section Start Here */
.about-content>div {
    margin: 2rem;
}

.about-content .location-section {
    flex: 3;
}

/* About End Section */

/* Hotline Number Section Start Here */
.hotline-content>div {
    margin: 2rem;
}

.hotline-content .location-section {
    flex: 3;
}

/* Hotline Number End Section */

/* User Profile Section Start Here */
.user-profile-container {
    height: 60rem;
}

#profile {
    position: relative;
    margin-top: 20px;
    background-attachment: fixed;
    background-size: cover;
}

/* User Profile End Section */

/* Recording Evacuee Section Start Here */
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#evacueeInfoForm input {
    width: 100%;
    margin: 8px 0;
    padding: 0 12px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 0.875rem;
    border: 2px solid #94a3b8;
    height: 44px;
    transition-timing-function: linear;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

#evacueeInfoForm .check-box {
    display: flex;
    align-items: center;
    gap: 8px;
}

#evacueeInfoForm .input-container .check-box label  {
    margin-bottom: 0;
}

#evacueeInfoForm .input-container{

    position: relative;
    width: 100%;
    margin-bottom: 12px;
    padding: 0 24px;
}

#evacueeInfoForm select {
    width: 100%;
    margin: 8px 0;
    padding: 0 12px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 0.875rem;
    border: 2px solid #94a3b8;
    height: 44px;
    transition-timing-function: linear;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

input[type="number"] {
    -moz-appearance: textfield;
}

span.error {
    color: #ef4444;
    font-size: 12px;
    font-family: Montserrat, san-serif;
    font-style: italic;
}

.data-table th,
.data-table td {
    text-align: center !important;
    vertical-align: middle !important;
}

/* Recording Evacuee End Section */

/* Laptop View Section */
@media only screen and (max-width: 1024px) {
    .login-section {
        text-align: center;
        width: 100%;
    }

    .login-section .login-content .header-desc h1 {
        font-size: 60px;
    }

    .login-section .login-content .header-desc p {
        margin: 0 auto;
        font-size: 18px;
    }

    .login-section .login-content {
        display: block;
    }

    .login-section .login-form-section {
        margin: 0 auto;
    }
}

/* Laptop View End Section */

/* Mobile View Section */
@media only screen and (max-width: 767px) {
    .login-section .login-content .header-desc {
        width: 100%;
        padding-bottom: 30px;
    }

    .login-section .login-content .header-desc h1 {
        font-size: 50px;
    }

    .login-section .login-content .header-desc p {
        margin: 0 auto;
        font-size: 16px;
    }

    .login-section .login-form-section {
        margin: 0 auto;
        max-width: 400px;
    }
}

/* Mobile View End Section */

/* Mobile View Section */
@media only screen and (max-width: 380px) {
    .login-section {
        padding: 18% 0 40%;
    }

    .login-section .login-content .header-desc {
        width: 100%;
        padding-bottom: 30px;
    }

    .login-section .login-content .header-desc h1 {
        font-size: 40px;
    }

    .login-section .login-content .header-desc p {
        margin: 0 auto;
        font-size: 14px;
    }

    .login-form-section {
        padding: 5px 0;
        width: 100%;
        max-width: 430px;
    }

    .login-section .login-form-section {
        max-width: 400px;
    }

    .login-form-section .my-3 input,
    .login-form-section .my-3.relative input {
        padding: 10px !important;
        font-size: 12px;
    }

    .login-form-section .my-3.relative i {
        top: 5px;
        right: 10px;
        font-size: 16px;
    }

    #login-container .btn-submit,
    #login-container .btn-resident {
        padding: 10px;
        font-size: 13px;
        font-weight: 500;
    }

    .login-form-section .flex{
        font-size: 13px;
        letter-spacing: 0.5px;
    }

    .bottom-section p {
        font-size: 12px;
        padding: 5px 0;
    }
}
/* Mobile View End Section */




@media only screen and (max-width: 1100px) {
    .content .evacuation-content .evacuation-form {
        padding: 0 !important;
        border: none;
    }
}



/* @media only screen and (max-width: 900px) {
/* Dashboard Section */
@media only screen and (max-width: 900px) {

    .wrapper .header-section .container-fluid span {
        display: none;
        transition: all 0.4s ease;

    }

    .content .evacuation-content .evacuation-form .fields {
        display: contents !important;
    }

    .content .evacuation-content .evacuation-table,
    .content .disaster-content .disaster-table {
        margin: 0 !important;
        padding: 1.5rem !important;
    }
} */

/* @media only screen and (max-width: 1300px) {

    .content .main-content,
    .about-content,
    .hotline-content,
    .evacuation-content {
        display: flex;
        flex-direction: column;
    }
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
} */

@media only screen and (max-width: 1024px) {
    .main-content {
        padding: 17% 2rem 0 2rem;
    }

    .sidebar {
        width: 0 !important;
    }

    #btn-sidebar,
    .sidebar #btn-sidebar-close {
        display: none;
    }

    #btn-sidebar-mobile,
    .sidebar.active #btn-sidebar-close {
        display: block;
    }

    .sidebar.active {
        width: 320px !important;
    }

    #Typhoon,
    #Flooding {
        width: 100%;
    }

    #TyphoonBarGraph,
    #FloodingBarGraph {
        display: none !important;
    }
}

@media only screen and (max-width: 1100px) {
    .content .evacuation-content .evacuation-form {
        padding: 0 !important;
        border: none;
    }

    .wrapper .header-section .container-fluid span {
        display: none;
        transition: all 0.4s ease;
    }


    .wrapper .header-section .container-fluid img {
        margin: 0 auto;
        float: none !important;
    }

    .content .evacuation-content .evacuation-table,
    .content .table-container {
        margin: 0 !important;
        padding: 1.5rem !important;
    }

    .locator-container .locator-content .locator-header {
        line-height: 20px;
    }
}

@media only screen and (max-width: 1300px) {

    .content .main-content,
    .about-content,
    .hotline-content,
    .evacuation-content {
        display: flex;
        flex-direction: column;

    }