@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
    --color-text: #ffffff;
    --color-background: #ecf0f1;
    --color-red: #dc2626;
    --color-gray: #2c3e50;

    --color-green: #16a34a;
    --color-primary: #2563eb;
    --color-yellow: #eab308;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important;
    font-family: "Montserrat", sans-serif;
}

/* Toastr Section Start Here */
.toast {
    opacity: 1 !important;
    box-shadow: none !important;
}

/* Toastr Section End */

/* Website Scroll Bar Start Here */
::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #64748b;
}

hr,
::-webkit-scrollbar-thumb:hover {
    background: var(--color-gray);
}

/* Website Scroll Bar End */

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px 0 20px;
}

/* Button Section Start Here */
.btn-submit,
.btn-table-submit,
#locateNearestBtn {
    background: var(--color-green);
    color: var(--color-text);
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    padding: 8px 10px;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    transition-duration: 100ms;
}

.btn-submit:hover,
.btn-table-submit:hover,
#locateNearestBtn:hover {
    color: var(--color-text);
    background: #06782f;
    transform: scale(1.05);
}

.btn-update,
.btn-table-update {
    background: var(--color-yellow);
    font-size: 14px;
    font-weight: 600;
    color: var(--color-text);
    transition-duration: 100ms;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
}


.btn-update:hover,
.btn-table-update:hover {
    background: #ca8a04;
    color: var(--color-text);
    transform: scale(1.05);
}

.btn-table-primary {
    background: var(--color-primary);
    font-size: 14px;
    font-weight: 600;
    color: var(--color-text);
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
}

.btn-table-primary:hover {
    background: #1d4ed8;
    color: var(--color-text);
    transform: scale(1.05);
}

.btn-remove,
.btn-table-remove,
#locateCurrentLocationBtn {
    background: var(--color-red);
    font-size: 14px;
    font-weight: 600;
    padding: 0 10px;
    color: var(--color-text);
    transition-duration: 100ms;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
}

.btn-remove:hover,
.btn-table-remove:hover,
#locateCurrentLocationBtn:hover {
    background: #b91c1c;
    color: var(--color-text);
    transform: scale(1.05);
}

.create-section {
    display: flex;
    justify-content: end;
    margin-bottom: 16px;
}

/* Button End Section */

/* Header Section Start Here */
.header-section {
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    background: var(--color-red);
    z-index: 1;
}

.dropdown-menu li {
    font-size: 13px;
    padding-bottom: 1.5px;
}

/* Header Section End */

/* Main Content Start Here */
.main-content {
    width: 100%;
    margin: 100px auto 0;
    margin-bottom: 30px;
    padding: 0 20px 0 90px;
    transition: 0.2s all ease-in-out;
}

.main-content .grid {
    align-items: baseline;
}

.main-content .grid .grid {
    margin-right: 16px;
}

.main-content .grid i {
    border-radius: 4px;
}

/* Main End Content */

/* Side Bar Section Start Here*/
.sidebar {
    z-index: 1;
    left: 0;
    top: 0;
    transition: 0.3s ease;
}

.sidebar-content::-webkit-scrollbar {
    display: none;
}

.sidebar-header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    padding: 13px 12px;
}

.sidebar-content {
    position: relative;
    height: -webkit-calc(120vh - 100px);
    overflow: auto;
    z-index: 4;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    line-height: 50px;
}

.sidebar .links_name {
    color: var(--color-text);
    opacity: 0;
    text-align: start;
    pointer-events: none;
    overflow: hidden;
    font-size: 15px;
}

.sidebar.active .links_name,
.sidebar:hover .links_name {
    opacity: 1;
    pointer-events: auto;
    width: 100%;
}

.sidebar #logo {
    width: 55px;
    transition: 100ms;
}

.sidebar.active #logo,
.sidebar:hover #logo {
    width: 100px;
    margin-left: 15px;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin: 5px;
    border-radius: 5px;
}

.sidebar ul li a:not(.activeLink):hover {
    background: rgb(170, 170, 170);
    color: var(--color-text);
}

.activeLink {
    background: var(--color-red);
    color: var(--color-text);
}

.sidebar ul li i {
    margin-left: -4px;
    color: var(--color-text);
}

.sidebar ul li i {
    height: 50px;
    min-width: 75px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav_list {
    height: 100%;
    margin-bottom: 10%;
}

.sidebar.active,
.sidebar:hover {
    width: 320px;
}

.user-details {
    display: none;
}

.sidebar.active .user-details,
.sidebar:hover .user-details {
    display: block;
}

#btn-sidebar-mobile,
#btn-sidebar-close {
    display: none;
}

/* Side Bar End Section */

/* Authentication Section Start Here */
#login-container {
    background: var(--color-gray);
}

.login-section {
    padding: 20% 0 15% 0;
}

.header-desc {
    padding: 20px 0;
}

.login-section h1 {
    font-size: 65px;
}

.login-section p {
    font-size: 20px;
    line-height: 1.4em;
    max-width: 800px;
}

.login-form-section {
    height: 75%;
    padding: 20px 10px;
    width: 100%;
    max-width: 430px;
    border-radius: 6px;
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
}

.login-form-section .my-3 input {
    border-radius: 4px;
    width: 100%;
    padding: 20px;
}

.login-form-section .my-3.relative i {
    top: 14px;
    right: 15px;
}

.recover-container,
.res-password-cotainer {
    max-width: 500px;
    margin: 10% auto;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    border-radius: 4px;
}

.res-password-cotainer .res-input-form {
    padding: 24px 24px 2px 24px;
}

.bottom-section p {
    font-size: 15px;
    padding: 5px 0;
}

#login-container .btn-login,
.btn-resident {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    font-weight: 800;
    color: var(--color-text);
    border-radius: 6px;
}

/* Authentication End Section */

/* Dashboard Section Start Here */
.report-container {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
}

.widget {
    background: var(--color-text);
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0px 19px -1px rgba(0, 0, 0, 0.2);
}

.widget-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.widget-content {
    margin: 8px 0;
    padding: 4px;
}

.wigdet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-description .wigdet-header p {
    color: #000;
    font-size: 16px;
    padding: 10px 0 0;
    font-weight: 600;
}

.wigdet-header img {
    width: 30px;
}

.content-description {
    padding: 0 8px;
}

.content-description p {
    color: var(--color-green);
    font-size: 34px;
    font-weight: 700;
}

.chart-container {
    display: flex;
    justify-content: flex-start;
    margin: 30px 0;
}

.pie-chart {
    width: 500px;
}

/* Dashboard End Section */

/* Guideline Section Start Here */
.guideline-container,
.guide-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}

.horizontal-line {
    margin-top: 20px;
}

.guideline-widget,
.guide-widget {
    position: relative;
    max-width: 300px;
}

.guideline-content,
.guide-content {
    overflow: hidden;
    z-index: -50;
    position: relative;
    background: var(--color-text);
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
    border-radius: 4px;
}

.guideline-type,
.guide-type {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
    color: var(--color-text);
    background: var(--color-gray);
}

.guideline-btn {
    width: 288px;
}

.guideline-btn div {
    display: flex;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
    justify-content: center;
    align-items: center;
    color: var(--color-gray);
}

/* Guideline End Section */

/* Evacuation Center Section Start Here */

.info-window-container {
    width: fit-content;
    height: fit-content;
}

.info-description {
    padding: 6px;
}

.info-description span {
    font-weight: 600;
}

/* Evacuation Center Section End */

/* Report Incident Section Start Here */
.report-button {
    position: fixed;
    margin: 35px 14px;
    bottom: 0;
    right: 0;
}

#actualPhoto {
    max-width: 100px;
    max-height: 100px;
}

.report-photo{
    width: 200px;
    height: 100%;
}

/* Report Incident End Section*/

/* About Section Start Here */
.about-content {
    display: flex;
}

.about-content .location-section {
    flex: 3;
    padding: 24px;
    background: #475569;
    color: var(--color-text);
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

#editAddressModal {
    float: right;
    padding: 4px 8px;
}

/* About End Section */

/* Hotline Number Section Start Here */

.hotline-content .number-section {
    flex: 3;
    padding: 24px;
    background: #475569;
    color: var(--color-text);
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.number-section .font-bold a {
    float: right;
    padding: 4px 8px;
}

/* Hotline Number End Section */

/* User Profile Section Start Here */
.user-profile-container {
    position: relative;
    background: var(--color-text);
    height: 100%;
    margin-bottom: 10px;
}

.profile-details-label {
    width: 100%;
    color: var(--color-text);
    padding: 8px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: 0.025em;
}

.profile-details {
    background: var(--color-text);
    padding: 8px 0;
    font-weight: 700;
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.details-section {
    position: relative;
    width: 100%;
    margin-bottom: 16px;
    padding: 0 24px;
}

#profile {
    position: relative;
    margin-top: 20px;
    background-attachment: fixed;
    background-size: cover;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container .form-content {
    padding: 10px 20px;
}

.mb-2.relative i {
    top: 28px;
    right: 38px;
}

select.form-select {
    font-size: 14px;
    font-weight: 600;
}

select.form-select option {
    background: var(--color-background);
    color: #000;
    font-size: 15px;
    font-weight: 700;
}

/* User Profile End Section */

/* Recording Evacuee Section Start Here */
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: none;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#evacueeInfoForm .checkbox-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

#evacueeInfoForm .checkbox-container label {
    margin-top: 9px;
}

.evacueeArchiveSelect select {
    width: 270px;
    height: 40px;
}

.checkbox {
    transform: scale(1.25);
    accent-color: var(--color-primary);
}

/* Recording Evacuee End Section */

/* Form Section Start Here */
input[type="number"] {
    -moz-appearance: textfield;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

#evacueeInfoForm input,
#evacuationCenterForm input,
#accountForm input,
#disasterForm input,
#changePasswordForm input,
#guidelineForm input,
#reportForm input,
#guideForm input,
#evacuationCenterForm select,
#evacueeInfoForm select,
#accountForm select {
    border-radius: 5px;
    font-weight: 400;
    font-size: 0.875rem;
    border: 2px solid #94a3b8;
    height: 40px;
}

#guideForm textarea,
#reportForm textarea,
#evacueeInfoForm textarea {
    border-radius: 5px;
    font-weight: 400;
    font-size: 0.875rem;
    border: 2px solid #94a3b8;
}

.field-container {
    width: 100%;
    margin-bottom: 16px;
    padding: 0 24px;
}

.field-container label {
    display: block;
    text-align: start;
    margin: 0px;
}

span.error {
    color: #ef4444;
    font-size: 12px;
    font-family: Montserrat, san-serif;
    font-style: italic;
    margin-top: 5px;
    float: left;
}

/* Form Section End */

/* DataTable Section Start Here */
table th,
table td {
    text-align: center !important;
    vertical-align: middle !important;
}

.status-container {
    width: 100px;
    border-radius: 9999px;
    padding: 6px 8px;
    color: white;
    font-weight: bold;
}

.no-data {
    color: var(--color-red);
    font-weight: 600;
}

/* DataTable Section End */

/* Laptop View Section */
@media only screen and (max-width: 1024px) {
    .login-section {
        text-align: center;
        padding: 20% 0 15% 0;
        width: 100%;
    }

    .login-section .login-content .header-desc h1 {
        font-size: 60px;
    }

    .login-section .login-content .header-desc p {
        margin: 0 auto;
        font-size: 18px;
        padding-bottom: 20px;
    }

    .login-section .login-content {
        display: block;
    }

    .login-section .login-form-section {
        margin: 0 auto;
    }

    .about-content {
        display: contents;
    }

    .about-content>div {
        margin: 15px 0;
    }

    .chart-container {
        display: contents;
        margin: 30px 0;
    }

    .pie-chart {
        width: 100%;
        margin: 20px 0;
    }
}

/* Laptop View End Section */

/* Mobile View Section */
@media only screen and (max-width: 767px) {
    .main-content {
        margin-top: 90px;
        margin-bottom: 20px;
        padding: 0 0 0 0;
    }

    .wrapper {
        padding: 0 20px;
    }

    .login-section {
        padding: 29% 0 20% 0;
    }

    .login-section .login-content .header-desc {
        width: 100%;
        padding-bottom: 30px;
    }

    .login-section .login-content .header-desc h1 {
        font-size: 50px;
    }

    .login-section .login-content .header-desc p {
        margin: 0 auto;
        font-size: 16px;
    }

    .login-section .login-form-section {
        margin: 0 auto;
        max-width: 400px;
    }

    .sidebar {
        width: 0 !important;
    }

    .sidebar #btn-sidebar-close {
        display: none;
    }

    #btn-sidebar-mobile,
    .sidebar.active #btn-sidebar-close {
        display: block;
    }

    .sidebar.active {
        width: 320px !important;
    }

    .chart-container {
        display: contents;
    }

    .actionContainer {
        flex-wrap: wrap;
    }

    .actionContainer button,
    .actionContainer select {
        padding: 5px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
}

/* Mobile View End Section */

/* Mobile View Section */
@media only screen and (max-width: 380px) {

    /* Login Section Start Here */
    .login-section {
        padding: 35% 0 20% 0;
        transition: 0.5s all ease-in-out;
    }

    .login-section .login-content .header-desc {
        width: 100%;
        padding-bottom: 30px;
    }

    .login-section .login-content .header-desc h1 {
        font-size: 40px;
    }

    .login-section .login-content .header-desc p {
        margin: 0 auto;
        font-size: 14px;
    }

    .login-form-section {
        padding: 5px 0;
        width: 100%;
        max-width: 430px;
    }

    .login-section .login-form-section {
        max-width: 250px;
    }

    .login-form-section .my-3 input,
    .login-form-section .my-3.relative input {
        padding: 10px !important;
        font-size: 12px;
    }

    .login-form-section .my-3.relative i {
        top: 5px;
        right: 10px;
        font-size: 16px;
    }

    #login-container .btn-login,
    #login-container .btn-resident {
        padding: 10px;
        font-size: 13px;
        font-weight: 500;
    }

    .login-form-section .flex {
        font-size: 12px;
        letter-spacing: 0.5px;
    }

    .bottom-section p {
        font-size: 12px;
    }

    /* Login Section End*/

    /* Dashboard Section Start Here */
    .report-container {
        display: contents;
    }

    .report-container p {
        font-size: 15px;
        margin: 10px 0;
    }

    .report-container form {
        margin: 10px 0;
    }

    .report-container button {
        width: 100%;
        float: none;
    }

    /* Dashboard Section End*/
}

/* Mobile View End Section */
