@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important;
    font-family: "Montserrat", sans-serif;
}

body {
    background: var(--color-background);
}

.toast {
    opacity: 1 !important;
    box-shadow: none !important;
}

::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #64748b;
}

hr,
::-webkit-scrollbar-thumb:hover {
    background: var(--color-gray);
}

:root {
    --color-text: #ffffff;
    --color-background: #ecf0f1;
    --color-red: #dc2626;
    --color-gray: #2c3e50;

    --color-green: #16a34a;
    --color-primary: #2563eb;
    --color-yellow: #eab308;
    --color-violet: #8b5cf6;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header-section {
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    background: var(--color-red);
    z-index: 1;
}

/* Button Section Start Here */
.btn-submit {
    background: var(--color-green);
    color: var(--color-text);
    border-radius: 4px;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
    transition-duration: 100ms;
}

.btn-submit:hover {
    background: #15803d;
    color: var(--color-text);
    transform: scale(1.05);
}

.btn-primary {
    background: var(--color-primary);
    border-radius: 4px;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
    transition-duration: 100ms;
}

.btn-primary:hover {
    background: #1d4ed8;
    color: var(--color-text);
    transform: scale(1.05);
}

.editEvacueeBtn {
    background: var(--color-yellow);
    width: 80px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    margin-right: 8px;
    padding: 6px 0;
    color: var(--color-text);
    transition-duration: 100ms;
    transition-delay: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
}

.btn-edit,
.btn-table-edit {
    background: var(--color-yellow);
    color: var(--color-text);
    border-radius: 4px;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
    transition-duration: 100ms;
}

.btn-edit:hover,
.btn-table-edit:hover {
    background: #ca8a04;
    color: var(--color-text);
    transform: scale(1.05);
}

.btn-cancel,
.btn-table-cancel {
    background: var(--color-red);
    color: var(--color-text);
    border-radius: 4px;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
    transition-duration: 100ms;
}

.btn-cancel:hover,
.btn-table-cancel:hover {
    background: #b91c1c;
    color: var(--color-text);
    transform: scale(1.05);
}

/* Button End Section */

/* Main Content Start Here */
.main-content {
    width: 100%;
    margin: 100px auto 0;
    padding: 0 20px 0 100px;
}

/* Main End Content */

/* Side Bar Section Start Here*/
.sidebar {
    z-index: 1;
    left: 0;
    top: 0;
    transition: 0.3s ease;
}

.sidebar-content::-webkit-scrollbar {
    display: none;
}

.sidebar-header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    padding: 13px 12px;
}

.sidebar-content {
    position: relative;
    height: -webkit-calc(120vh - 100px);
    overflow: auto;
    z-index: 4;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    line-height: 50px;
}

.sidebar .links_name {
    color: var(--color-text);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    font-size: 15px;
}

.sidebar.active .links_name,
.sidebar:hover .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.sidebar ul li a:hover {
    background: var(--color-red);
}

.sidebar ul li i {
    height: 50px;
    min-width: 75px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav_list {
    height: 100%;
}

.sidebar.active,
.sidebar:hover {
    width: 320px;
}

.user-details {
    display: none;
}

.sidebar.active .user-details,
.sidebar:hover .user-details {
    display: block;
}


#btn-sidebar-mobile,
#btn-sidebar-close {
    display: none;
}

/* Side Bar End Section */

/* Authentication Section Start Here */
#login-container {
    background: var(--color-gray);
}

.login-section {
    padding: 15% 0;
}

.login-section h1 {
    font-size: 65px;
}

.login-section p {
    font-size: 20px;
    line-height: 1.4em;
    max-width: 800px;
}

.login-form-section {
    height: 75%;
    padding: 20px 10px;
    width: 100%;
    max-width: 430px;
    border-radius: 6px;
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
}

.login-form-section .my-3 input {
    border-radius: 4px;
    width: 100%;
    padding: 20px;
}

.login-form-section .my-3.relative i {
    top: 14px;
    right: 15px;
}

.recover-cotainer {
    max-width: 500px;
    margin: 10% auto;
}

.bottom-section {
    top: 90%;
}

.bottom-section p {
    font-size: 15px;
    padding: 5px 0;
}

#login-container .btn-login,
.btn-resident {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    font-weight: 800;
    color: var(--color-text);
    border-radius: 6px;
}

/* Authentication End Section */

/* Dashboard Section Start Here */
.widget {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.widget-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.widget .widget-logo img {
    position: absolute;
    z-index: -1;
    opacity: 0.2;
    padding-top: 208px;
}

.widget-content {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    padding: 4px;
}

.widget-image {
    border-radius: 6px;
}

.widget-image img {
    width: 3rem;
}

.content-description {
    padding: 0 8px;
}

.content-description h5 {
    font-weight: 600;
    letter-spacing: 0.4px;
}

.content-description span {
    font-size: 36px;
    font-weight: 700;
}

.pie-chart-container {
    display: flex;
    justify-content: flex-start;
    margin: 16px 0;
}

#Typhoon,
#Flashflood {
    width: 500px;
}

/* Dashboard End Section */

/* Guideline Section Start Here */
.guideline-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-row-gap: 30px;
    grid-column-gap: 40px;
}

.horizontal-line {
    margin-top: 20px;
}

.guideline-widget {
    position: relative;
    max-width: 300px;
}

.guideline-content {
    overflow: hidden;
    z-index: -50;
    position: relative;
    background: var(--color-text);
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
    border-radius: 4px;
}

.guideline-type {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
    color: var(--color-text);
    background: var(--color-gray);
}

.guideline-btn {
    width: 288px;
}

.guideline-btn div {
    display: flex;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
    justify-content: center;
    align-items: center;
    color: var(--color-gray);
}

/* Guideline End Section */

/* Guide Section Start Here*/
.guide-container .guide-content .label:before {
    content: "+";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5rem;
}

.guide-container .guide-content.active .label:before {
    content: "-";
}

.guide-container .guide-content.active .content {
    height: 150px;
    padding: 10px;
}

/* Guide End Section */

/* Report Incident Section Start Here */
.report-button {
    position: fixed;
    margin: 35px 14px;
    bottom: 0;
    right: 0;
}

#actualPhoto {
    max-width: 400px;
}

/* Report Incident End Section*/

/* About Section Start Here */
.about-content {
    display: flex;
}

.about-content>div {
    margin: 0 16px;
}

.about-content .location-section {
    flex: 3;
    padding: 24px;
    background: #475569;
    color: var(--color-text);
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

#editAddressModal {
    float: right;
    padding: 4px 8px;
}

/* About End Section */

/* Hotline Number Section Start Here */

.hotline-content .number-section {
    flex: 3;
    padding: 24px;
    background: #475569;
    color: var(--color-text);
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.number-section .font-bold a {
    float: right;
    padding: 4px 8px;
}

/* Hotline Number End Section */

/* User Profile Section Start Here */
.user-profile-container {
    position: relative;
    background: var(--color-text);
    height: 100%;
    margin-bottom: 10px;
}

.profile-details-label {
    width: 100%;
    color: var(--color-text);
    padding: 8px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: 0.025em;
}

.profile-details {
    background: var(--color-text);
    padding: 8px 0;
    font-weight: 700;
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.details-section {
    position: relative;
    width: 100%;
    margin-bottom: 16px;
    padding: 0 24px;
}

#profile {
    position: relative;
    margin-top: 20px;
    background-attachment: fixed;
    background-size: cover;
}

select.custom-select option {
    font-size: 15px;
    font-weight: 700;
}

/* User Profile End Section */

/* Recording Evacuee Section Start Here */
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: none;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#evacueeInfoForm input {
    width: 100%;
    margin: 8px 0;
    padding: 0 12px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 0.875rem;
    border: 2px solid #94a3b8;
    height: 44px;
    transition-timing-function: linear;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

#evacueeInfoForm .checkbox-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

#evacueeInfoForm .check-box label {
    margin-bottom: 0;
}

#evacueeInfoForm .input-container {

    position: relative;
    width: 100%;
    margin-bottom: 12px;
    padding: 0 24px;
}

#evacueeInfoForm select {
    width: 100%;
    margin: 8px 0;
    padding: 0 12px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 0.875rem;
    border: 2px solid #94a3b8;
    height: 44px;
    transition-timing-function: linear;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.evacueeArchiveSelect select {
    width: 250px;
    margin: 8px 0;
    padding: 0 12px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 0.875rem;
    border: 2px solid #94a3b8;
    height: 44px;
    transition-timing-function: linear;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

input[type="number"] {
    -moz-appearance: textfield;
}

span.error {
    color: #ef4444;
    font-size: 12px;
    font-family: Montserrat, san-serif;
    font-style: italic;
}

.evacueeTable th,
.evacueeTable td,
.archivedEvacueeTable th,
.archivedEvacueeTable td {
    text-align: center !important;
    vertical-align: middle !important;
}

.checkbox {
    transform: scale(1.25);
}

/* Recording Evacuee End Section */

/* Laptop View Section */
@media only screen and (max-width: 1024px) {
    .login-section {
        text-align: center;
        width: 100%;
    }

    .login-section .login-content .header-desc h1 {
        font-size: 60px;
    }

    .login-section .login-content .header-desc p {
        margin: 0 auto;
        font-size: 18px;
    }

    .login-section .login-content {
        display: block;
    }

    .login-section .login-form-section {
        margin: 0 auto;
    }

    .about-content {
        display: contents;
    }

    .about-content>div {
        margin: 26px 0;
    }
}

/* Laptop View End Section */

/* Mobile View Section */
@media only screen and (max-width: 767px) {
    .main-content {
        padding: 0;
    }

    .login-section .login-content .header-desc {
        width: 100%;
        padding-bottom: 30px;
    }

    .login-section .login-content .header-desc h1 {
        font-size: 50px;
    }

    .login-section .login-content .header-desc p {
        margin: 0 auto;
        font-size: 16px;
    }

    .login-section .login-form-section {
        margin: 0 auto;
        max-width: 400px;
    }

    .sidebar {
        width: 0 !important;
    }

    .sidebar #btn-sidebar-close {
        display: none;
    }

    #btn-sidebar-mobile,
    .sidebar.active #btn-sidebar-close {
        display: block;
    }

    .sidebar.active {
        width: 320px !important;
    }

    .pie-chart-container {
        display: contents;
    }

    #Typhoon,
    #Flashflood,
    #FlashfloodBarGraph,
    #TyphoonBarGraph {
        width: 100%;
        margin: 20px 0;
    }
}

/* Mobile View End Section */

/* Mobile View Section */
@media only screen and (max-width: 380px) {
    .login-section {
        padding: 18% 0 40%;
    }

    .login-section .login-content .header-desc {
        width: 100%;
        padding-bottom: 30px;
    }

    .login-section .login-content .header-desc h1 {
        font-size: 40px;
    }

    .login-section .login-content .header-desc p {
        margin: 0 auto;
        font-size: 14px;
    }

    .login-form-section {
        padding: 5px 0;
        width: 100%;
        max-width: 430px;
    }

    .login-section .login-form-section {
        max-width: 400px;
    }

    .login-form-section .my-3 input,
    .login-form-section .my-3.relative input {
        padding: 10px !important;
        font-size: 12px;
    }

    .login-form-section .my-3.relative i {
        top: 5px;
        right: 10px;
        font-size: 16px;
    }

    #login-container .btn-login,
    #login-container .btn-resident {
        padding: 10px;
        font-size: 13px;
        font-weight: 500;
    }

    .login-form-section .flex {
        font-size: 13px;
        letter-spacing: 0.5px;
    }

    .bottom-section p {
        font-size: 12px;
        padding: 5px 0;
    }
}

/* Mobile View End Section */